
2017/Estructuras Discretas/Proyecto 1/main.o
2017/Estructuras Discretas/Proyecto 1/Makefile.win
2017/Estructuras Discretas/Proyecto 1/Proyecto 1.exe
2017/IA/Proyecto/main.cpp
2017/IA/Proyecto/main.cpp
2017/IA/Proyecto/main.exe
